# dependencies
node_modules/

# build output
.next/
_next
dist/
.swc/

# env
.env
/backend/.env
/frontend/.env

# lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
npm-shrinkwrap.json

# misc
.env
.DS_Store
DS_Store
.vscode/*

# Prisma migrations
backend/src/prisma/schema/migrations/